<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Techlistic Application Automation Test Suite">

	<listeners>
		<listener class-name="com.techlistic.utility.ExtentReportListener" />
	</listeners>
	
	
  <test thread-count="5" name="Place An Order">
    <classes>
      <class name="com.techlistic.testcase.TechlisticOrder"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
